:root {
    --primary: red;
    --secondary: blanchedalmond;
    --trzeci: chartreuse;
}

* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", sans-serif;
    margin: 10px 10px 10px 10px;
}
html, body {
    border: 10px var(--secondary) dotted;
    background-color: var(--primary);
}

header, footer {
    background-color: var(--primary);
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 100vw;
    height: 30vw;
    background-image: url("cat.png");
    background-position: center; /* center the image */
    background-repeat: repeat;
}

h1,h2,h3 {
    color: var(--secondary);
    text-align: left;
    border-radius: 10px;
    padding: 10px;
}
p {
    border-radius: 30px;
    padding: 30px;
}

h1 {
    border: var(--trzeci);
}
h2 {
    border: var(--trzeci);
}
h3 {
    border: solid 1px var(--trzeci);
}

p {
    background-color: var(--secondary);
    border: 10px var(--trzeci) solid;
}

.title {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    color: var(--trzeci);
    font-size: 2em;
    font-family: monospace;
}

.title span {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


ul {
    border-radius: 30px;
    padding: 30px;
    background-color: var(--secondary);
    list-style: none;
}

li::before {
    content: "read it carefully please:  ";
    color: var(--primary);
}

@media (max-width: 768px) {
    body {
        font-size: 24px;
        line-height: 1.6;
    }
    h1 { font-size: 40px; }
    h2 { font-size: 28px; }
    h3 { font-size: 24px; }
    p, li { font-size: 24px; }
}